/* Robot font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*Skaut fonts*/

@font-face {
    font-family: 'themix';
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.eot');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.woff') format('woff'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_400.otf') format('opentype'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_400.svg#themix') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'themix';
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.eot');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.woff') format('woff'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_700.otf') format('opentype'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_700.svg#themix') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'skautbold';
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot');
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.woff') format('woff'),
         url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.otf') format('opentype'),
         url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.svg#skautbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, h4, h5, h6, .book.font-family-1, .book .book-header, .book .book-summary {
    font-family: Roboto,themix,Arial,sans-serif;
}

h1, h2, h3 {
    font-family: skautbold,Arial,sans-serif;
}

.book .book-body .page-wrapper .page-inner section.normal h1.title {
	/*font-size: 40pt;*/
	text-align:center;
}

p {
    text-align: justify;
}


.book .book-summary,
.book .book-body .page-wrapper .page-inner section.normal,
.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span
{
	color:black;
}

.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active > a {
	color:white;
}

.book .book-summary ul.summary li.chapter {
	padding-left: 10px;
}

.book .book-summary ul.summary li.chapter li.chapter {
	padding-left: 0px;
}


/*.book .book-summary ul.summary li a:hover::before, .book .book-summary ul.summary li.active > a::before {*/
.book .book-summary ul.summary li.active::before {
	display: block;
	width: 15px;
	height: 3px;
	content: " ";
	background-color: white;
	position: absolute;
	margin-left: -10px;
	margin-top: 1.2em;
}

.book .book-summary ul.summary li li.active::before {
	margin-left: -30px;
}

.book .book-summary ul.summary li li li.active::before {
	margin-left: -50px;
}


.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active > a {
}

.book .book-summary {
	background-color: rgb(242, 223, 240);
}

.book .book-summary ul.summary li span {
	opacity:1;
	filter: none;
}


.book .book-header .btn {
	color:black;
}

.book .book-body .page-wrapper .page-inner section.normal a {
	/*color:  rgb(29,128,90);*/
	color: rgb(214,0,171);
	font-weight: 600;
}

.book .book-body .page-wrapper .page-inner section.normal h1.title {
	font-size: 2.5em;
}

/* Kratka verze */
.book .book-body .page-wrapper .page-inner section.normal .kz_heading h4 {
  color:  rgb(29,128,90);
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  cursor: pointer;
}

.book .book-body .page-wrapper .page-inner section.normal .kz_heading h4 a,
.book .book-body .page-wrapper .page-inner section.normal .kz_group a,
.book .book-body .page-wrapper .page-inner section.normal .kz_intro a{
  color:  rgb(29,128,90);
}

.kz_heading h4::before, .rozbalit_vse::before {
  content: "\2013";
  padding-right: 0.2em;
}

div.collapsed.kz_heading h4::before, .rozbalit_vse.collapsed::before {
  content: "+";
}

.book .book-body .page-wrapper .page-inner section.normal .kz_group h2,
.book .book-body .page-wrapper .page-inner section.normal .kz_intro h2{
  margin-bottom: 0;
}

.book .book-body .page-wrapper .page-inner section.normal .kz_subtitle {
  margin-top: 0;
  font-size: 1.5em;
  font-family: skautbold;
  margin-bottom: 0.85em;
}

.kz_subtitle::before {
  content: "| ";
}

.book .book-body .page-wrapper .page-inner section.normal .kz_group p {
  margin-bottom: 0;
}

.book .book-body .page-wrapper .page-inner section.normal .kz_intro .kz_heading p,
.book .book-body .page-wrapper .page-inner section.normal .kz_group .kz_heading p {
  margin-bottom: .85em;
}

.rozbalit_vse {
  color:  rgb(29,128,90);
  cursor: pointer;
  text-align: right;
  display: block;
  font-size: 1.4rem;
}

.rozbalit_vse.hidden {
  display:none;
}

.summary .part:first-child {
	background-color:rgb(179,221,211);
}

.summary .chapter[data-level="1"], .summary .chapter[data-level="2"] {
	background-color:rgb(179,221,211);
}
