/*
Ignorovano - ctverecek pro vybrani mc_multiple_button (komplikovane, fajfka musi stacit)

item-check nejde zakliknout, kdyz se mi objevi výzva ho vyplnit

Submit po kliknuti "zmizi"
*/

/* Robot font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*Skaut fonts*/

@font-face {
    font-family: 'themix';
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.eot');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.woff') format('woff'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_400.otf') format('opentype'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_400.svg#themix') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'themix';
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.eot');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.woff') format('woff'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_700.otf') format('opentype'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_700.svg#themix') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'skautbold';
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot');
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.woff') format('woff'),
         url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.otf') format('opentype'),
         url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.svg#skautbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.h3, .h4, body, h3, h4, h5, h6 {
    font-family: Roboto,themix,Arial,sans-serif;
}

.h1, .h2, h1, h2 {
    font-family: skautbold,Arial,sans-serif;
}


/*Limit max width*/

@media (min-width:992px) {
 .container {
  width:750px
 }
}

@media (min-width:1200px) {
 .container {
  width:750px
 }
}

/*Overall tweaks*/

/* Colors */
body {
    background-image:none;
    background-color:white;
}

.progress .progress-bar {
    background-color:rgb(0, 65, 155);
}

.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
    text-align:center;
    color:rgb(0, 65, 155);
}

.run-container .form-group .control-label,
.form-group.is-focused label,
.form-group.is-focused label.control-label {
    color:rgb(0, 65, 155);
}

.run-container .btn-group button.btn.btn-checked {
    background-color: #d3d3d3 !important;
}

.run-container .btn-group button.btn:not(.btn-checked):hover { 
    background-color:#f0f0f0 !important;
}

.run-container a.btn.btn-checked, .run-container button.btn.btn-checked, .run-container label.btn.btn-checked {
    border-color:transparent;
}


.run-container .btn-group .btn {
    background-color:white;
    border-color:transparent;
    color:rgb(0, 65, 155);
    min-height: 45px;
    width:100%;
}

.run-container div.controls input[type="number"], .run-container div.controls input[type="text"] {
    background-color:white;
    border-radius: 12px;
    padding-right: 11px;
    background-position: center bottom,center calc(100% - 3px); 
    background-size: 0 3px,92% 3px;
    padding-left: 16px;
}

.run-container div.controls input[type="number"]:focus, .run-container div.controls input[type="text"]:focus {
    background-image: linear-gradient(#00419B,#00419B),linear-gradient(#00419B,#00419B);
    transition:none;
}

.form-group.is-focused .form-control { 
    background-image: -webkit-gradient(linear,left top,left bottom,from(#00419B),to(#00419B)),-webkit-gradient(linear,left top,left bottom,from(#D2D2D2),to(#D2D2D2));
    background-image: -webkit-linear-gradient(#00419B,#00419B),-webkit-linear-gradient(#D2D2D2,#D2D2D2);
    background-image: -o-linear-gradient(#00419B,#00419B),-o-linear-gradient(#D2D2D2,#D2D2D2);
    background-image: linear-gradient(#00419B,#00419B),linear-gradient(#D2D2D2,#D2D2D2);
}

.run-container .btn-info {
    color:white;
    background-color:#00419B;
    border-color:transparent;
    border-radius: 12px !important;
}

.btn:not(.btn-raised).btn-info, .input-group-btn .btn:not(.btn-raised).btn-info {
    color:white;
    font-weight:bold;
    padding-top:12px;
    padding-bottom:12px;
}

.run-container .btn:not(.btn-raised).btn-info:active, .run-container .btn:not(.btn-raised).btn-info:focus, .run-container .btn:not(.btn-raised).btn-info:hover {
    background-color:white !important;
    color:#00419B !important;
    border-color:transparent !important;
}


/*Hack hidden items with class .background to cover all background and use them
to give different backgrounds to different sections*/

@media (min-width:768px) {
    .hidden.background_wide {
        display: block !important;
        visibility: visible !important;
        width: 100%;
        height: 100%;
        position: fixed;
        top: -28px;    
        left:0%;
    }
}

.hidden.background {
    display: block !important;
    visibility: visible !important;
    width: 100%;
    height: 100%;
    position: fixed;
    top: -28px;    
    left:0%;
}

@media (min-width:768px) {
    .hidden.background {
        left:auto;
        width:751px;
    }
}


.background_green {
    background-color: #84fc97;
}

.background_wide.background_green {
    background-color: #5dfb76;
}

/*Lighter shade for some rows in grid */
form.form-horizontal div.form-row.form-group.background_green.mc-grid-row:nth-child(odd) {
    background-color: #abfdb8;
}


.background_blue {
    background-color: #BEE6F0;
}

.background_wide.background_blue {
    background-color: #9ed9e8;   
}

/*Lighter shade for some rows in grid */
form.form-horizontal div.form-row.form-group.background_blue.mc-grid-row:nth-child(odd) {
  /*  background-color: #dff2f7;*/
}


.background_gray {
    background-color: #e9e9e9/*#c8c8c8;*/
}

.background_wide.background_gray {
    background-color: #bfbfbf/*#c8c8c8;*/
}

/*Lighter shade for some rows in grid */
form.form-horizontal div.form-row.form-group.background_gray.mc-grid-row:nth-child(odd) {
  /*  background-color: #f3f3f3;*/
}


.background_orange {
    background-color: #ffe36F;
}

.background_wide.background_orange {
    background-color: #ffdb47;
}

/*Lighter shade for some rows in grid */
form.form-horizontal div.form-row.form-group.background_orange.mc-grid-row:nth-child(odd) {
    /*background-color: #ffeb97;*/
}

.background_salmon {
    background-color: #ffc3d1;
}

.background_wide.background_salmon {
    background-color: #ff9bb2;
}

/*Darker shade for some rows in grid */
form.form-horizontal div.form-row.form-group.background_salmon.mc-grid-row:nth-child(odd) {
    /* background-color: #ffebf0; */
}


.background_lime {
    background-color: #dcf014;
}

.background_wide.background_lime {
    background-color: #b0c600;
}

.background_navajo {
    background-color: #ffdcaa;
}

.background_wide.background_navajo {
    background-color: #d4b382;
}


/*Darker shade for some rows in grid */
form.form-horizontal div.form-row.form-group.background_magenta.mc-grid-row:nth-child(odd) {
    /* background-color: #ffcdff; */
}


/* Font sizes */
.btn {
    font-size:16px;
}


/* Other */

.ws-popover {
    padding-top: 22px;
    margin-left: -14px;
}

form.form-horizontal div.form-group.form-row.item-note div.control-label {
    text-align:center !important;
}

@media (min-width:769px) {
    .run-container .form-group .control-label, .run-container .form-group label {
        padding-top: 7px !important;
    }
    
}

@media (min-width:620px) {
    .run-container .form-horizontal .form-group.item-note {
    width: 600px;
    margin: auto;
    }
}


.btn-group {
    width:100%;
}

/*
.run-container .form-group:not(.item-note) .control-label {
    font-weight:bold;
}
*/

/* Rounded buttons with spaces */
div.form-row.form-group:not(.mc_horizontal) .controls .btn-group > .btn,
div.form-row.form-group:not(.mc_horizontal) .btn-group > .btn:not(:first-child):not(:last-child),
div.form-row.form-group:not(.mc_horizontal) .btn-group > .btn:not(:first-child):not(:last-child),
div.form-row.form-group:not(.mc_horizontal) .btn-group > .btn:last-child:not(:first-child) 
div.form-row.form-group:not(.mc_horizontal) .btn-group > .btn:first-child:not(:last-child) {
    border-radius: 12px !important; 
    
}

div.form-row.form-group .btn-group>.btn-group+.btn,
div.form-row.form-group:not(.mc_horizontal) .btn-group>.btn+.btn,
div.form-row.form-group:not(.mc_horizontal) .btn-group>.btn+.btn-group,
div.form-row.form-group:not(.mc_horizontal) .btn-group>.btn-group+.btn-group {
    margin-top:9px;
}

/*Allow form-group background to leak to edges of screen*/
.row {
    margin-right: -10px;
    margin-left: -10px;
}

.row.progress-container {
        margin-left:16px;       
}

.form-group {
    padding-left: 20px;
    padding-right: 20px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 0px;
    padding-right: 0px;
}

/* Checkboxes */
.checkbox .checkbox-material {
    position:static;
    padding-top:40px;
}

.checkbox .checkbox-material .check {
    background-color:white;
}

.checkbox input[type="checkbox"] + .checkbox-material .check, label.checkbox-inline input[type="checkbox"] + .checkbox-material .check {
    display: block;
    width: 24px;
    height: 24px;
    border: 3px #00419B solid;
    border-radius: 2px;
    content: "";
    position: absolute;
    top: 50%;
    left:12px;
    margin-top: -12px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color:white;    
}

.checkbox .checkbox-material .check::before {
   transform:none; 
   display: block;
   position:absolute;
    top: 0;
    left:0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
}

/*
.checkbox input[type="checkbox"]:checked + .checkbox-material .check::before, label.checkbox-inline input[type="checkbox"]:checked + .checkbox-material .check::before {
    content: "\00a0";
    
}*/

.checkbox input[type="checkbox"]:checked + .checkbox-material .check, label.checkbox-inline input[type="checkbox"]:checked + .checkbox-material .check {
    display: block;
    width: 24px;
    height: 24px;
    border: 3px #00419B solid;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left:12px;
    margin-top: -12px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color:white; 
    content:"\1F5F8";
    background-color: #00419B;
}

.checkbox input[type="checkbox"]:checked + .checkbox-material .check::before, label.checkbox-inline input[type="checkbox"]:checked + .checkbox-material .check::before {
    content:"\1F5F8";
    color:white; 
}

/*Checkboxes in mc_button_multiple*/
.item-mc_multiple_button button.btn {
    padding-left:40px;
}

.item-mc_multiple_button button.btn:before {
    display: block;
    width: 24px;
    height: 24px;
    border: 3px #00419B solid;
    border-radius: 2px;
    content: "\00a0";
    position: absolute;
    top: 50%;
    left:12px;
    margin-top: -12px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color:white;
}

.item-mc_multiple_button button.btn.btn-checked:before {
  content:"\1F5F8";
  border-color:#00419B;
  background-color: #00419B;
}

/*Likert grid via checkboxes*/
form.form-horizontal div.form-row.mc-grid-row {
    min-height:60px;
}

form.form-horizontal div.form-row.mc-grid-row div.controls div.mc-table {
    position:relative;
}

form.form-horizontal div.form-row.mc-grid-row div.controls div.btn-group {
    width:100%;
}

form.form-horizontal div.form-row.mc-grid-row div.controls div.mc-table label.radio-inline,
form.form-horizontal div.form-row.mc-grid-row div.controls div.btn-group button {
    width:14.2%;
}




/*Likert grid via buttons*/
.run-container .form-horizontal .form-group.item-note.nazev_kompetence {
    margin-top: 55px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.btn-group .btn {
    min-height:20px;
}

/*
div.form-row.form-group:not(.mc_horizontal) .btn-group > .btn:first-child:not(:last-child) {
    border-top-right-radius:0;
}

div.form-row.form-group:not(.mc_horizontal) .btn-group > .btn:last-child:not(:first-child) {
    border-bottom-left-radius:0;   
}
*/

form.form-horizontal div.form-row.mc-grid-row div.controls div.btn-group {
    width:100%;
}

form.form-horizontal div.form-row.mc-grid-row {
    padding-bottom:0px;
    padding-top:32px;
}




div.form-row.form-group.mc-grid-row .btn-group>.btn-group+.btn,
div.form-row.form-group.mc-grid-row:not(.mc_horizontal) .btn-group>.btn+.btn,
div.form-row.form-group.mc-grid-row:not(.mc_horizontal) .btn-group>.btn+.btn-group,
div.form-row.form-group.mc-grid-row:not(.mc_horizontal) .btn-group>.btn-group+.btn-group {
    margin-top:0;
}

.bs-material div.form-row.form-group.mc-grid-row .controls .btn-group .btn {
    padding:0;
    border-radius:0 !important;
}

.bs-material div.form-row.form-group.mc-grid-row .controls .btn-group button.btn:nth-child(1)  {
    border-top-left-radius:12px !important;
    border-bottom-left-radius:12px !important;
}

.bs-material div.form-row.form-group.mc-grid-row .controls .btn-group button.btn:nth-child(7)  {
    border-top-right-radius:12px !important;
    border-bottom-right-radius:12px !important;
}


div.form-row.mc-grid-row div.controls div.btn-group button:before {
    height:100%;
    line-height:150%;
    font-size:28px;
    text-align:center;
    width:100%;
    display:block;
    content:"\00a0";
    background-size: 69%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;    
}

div.form-row.mc-grid-row div.controls div.btn-group button:nth-child(1):before {
    background-image: url("https://formr.org/assets/tmp/admin/NklqSuGz8lLs5UBvq0scTQymGqNO_YP2s6kd_AiNk14e.png?v1573741271");
}
div.form-row.mc-grid-row div.controls div.btn-group button:nth-child(2):before {
    background-image: url("https://formr.org/assets/tmp/admin/ewPQI_B_Sz8USoOG6np35jlZmbr7e-SdpH4-19J0e-v1.png?v1573741271");
}
div.form-row.mc-grid-row div.controls div.btn-group button:nth-child(3):before {
    background-image: url("https://formr.org/assets/tmp/admin/8UWi45XjnFhwQGe_m2JPCJqr116WoizwP_5dTNP1cMIc.png?v1573741271");
}
div.form-row.mc-grid-row div.controls div.btn-group button:nth-child(4):before {
    background-image: url("https://formr.org/assets/tmp/admin/grphJ08NNLw1kIJSXEfeOn4wrthCrNBzzHCWcHNiC_Cq.png?v1573741271");
}
div.form-row.mc-grid-row div.controls div.btn-group button:nth-child(5):before {
    background-image: url("https://formr.org/assets/tmp/admin/SfMIGsXcxYascWDfydrTSLH9Sk7l0dv5rO_RfTELvGGZ.png?v1573741271");
}
div.form-row.mc-grid-row div.controls div.btn-group button:nth-child(6):before {
    background-image: url("https://formr.org/assets/tmp/admin/KdNfp3R_qN-RcEYToRnnJzPseIWcjEPCQj3gHyL33dgg.png?v1573741271");
}
div.form-row.mc-grid-row div.controls div.btn-group button:nth-child(7):before {
    background-image: url("https://formr.org/assets/tmp/admin/lR5XP0oBddXza-0A0F2KigZe15lUjm6TjSI06xO61h7C.png?v1573741271");
}
 



/* Showing label only for the selected option */
form.form-horizontal div.form-row.mc-grid-row div.controls div.mc-table label span.mc-span {
    display:none;
}

form.form-horizontal div.form-row.mc-grid-row div.controls div.btn-group button span.btn_label {
    display:none;
}


form.form-horizontal div.form-row.mc-grid-row div.controls div.mc-table label input[type="radio"]:checked ~ span.mc-span,
form.form-horizontal div.form-row.mc-grid-row div.controls div.btn-group button.btn-checked span.btn_label {
    display: block;
    position: absolute;
    bottom: 110%;
    left: -300%;
    right: -300%;
    text-align: center; 
    font-size:90%;
    font-style:italic;
    pointer-events:none;
    touch-action:none;
}

/*Avoiding label overflow for first and last*/
form.form-horizontal div.form-row.mc-grid-row div.controls div.mc-table label:nth-child(2) input[type="radio"]:checked ~ span.mc-span,
form.form-horizontal div.form-row.mc-grid-row div.controls div.btn-group button.btn-checked:nth-child(1) span.btn_label{
    left: 0;
    text-align:left;
}

form.form-horizontal div.form-row.mc-grid-row div.controls div.mc-table label:nth-child(8) input[type="radio"]:checked ~ span.mc-span,
form.form-horizontal div.form-row.mc-grid-row div.controls div.btn-group button.btn-checked:nth-child(7) span.btn_label{
    right: 0;
    text-align: right;
}


@media (max-width: 400px) {
form.form-horizontal div.form-row.mc-grid-row div.controls div.mc-table label input[type="radio"]:checked ~ span.mc-span {
    left: -500%;
    right: -500%;
}

}

@media (max-width: 768px) {
    /*Move controls above the questions*/
    form.form-horizontal div.form-row.form-group .control-label {
        margin-bottom: 10px;
        text-align: center;
    }


    .form-horizontal .controls {
        margin-left:0;
    }
    
    .run-container .form-horizontal .control-label {
        float:none;
    }
    
    /* Except for checkboxes */
    .run-container form.form-horizontal div.form-row.form-group.item-check .control-label {
        width:70%;
        float:left;
        text-align:right;
    }
    
    .run-container form.form-horizontal div.form-row.form-group.item-check .controls {
        clear: none;
        width: 29%;
        float: right;
    }
    
    /*Grid-related tweaks*/
    form.form-horizontal div.form-row.form-group.mc-grid-row {
        /*border-bottom: 1px #ccc solid;*/
        padding-bottom: 0;
        padding-top: 10px;
    }
    
    form.form-horizontal div.form-row.mc-grid-row div.controls div.mc-table label.radio-inline,
    form.form-horizontal div.form-row.mc-grid-row div.controls div.btn-group button.btn {
        display:block;
        float:left;
        width:14.2%;
    }

}


/*Grid header text*/
form.form-horizontal div.form-group.form-row.item-note.form-row.mc-grid-header {
    margin-left:330px;
}

div.form-group.mc-grid-row, div.form-group.mc-grid-header {
    margin-top:0;
}

form.form-horizontal div.form-group.form-row.item-note.form-row.mc-grid-header div.control-label {
}

form.form-horizontal div.form-row.mc-grid-header .control-label h3 {
    float:left;
    width:33%;
    font-size:12px;
}

form.form-horizontal div.form-row.mc-grid-header .control-label h3:nth-child(1) {
    text-align:left;
}

form.form-horizontal div.form-row.mc-grid-header .control-label h3:nth-child(2) {
    text-align:center;
}

form.form-horizontal div.form-row.mc-grid-header .control-label h3:nth-child(3) {
    text-align:right;
}