/*
TODO
- vše čtvereček přes celou šířku
- při otázkách nad gridem vycentrovat text (nakonec asi ne)
*/

/*Skaut fonts*/

@font-face {
    font-family: 'themix';
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.eot');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.woff') format('woff'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_400.otf') format('opentype'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_400.svg#themix') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'themix';
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.eot');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.woff') format('woff'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_700.otf') format('opentype'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_700.svg#themix') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'skautbold';
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot');
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.woff') format('woff'),
         url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.otf') format('opentype'),
         url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.svg#skautbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
    font-family: themix,Arial,sans-serif;
}

/*Limit max width*/

@media (min-width:992px) {
 .container {
  width:750px
 }
}

@media (min-width:1200px) {
 .container {
  width:750px
 }
}

/*Overall tweaks*/
.run-container .btn-group .btn {
    background-color:#f8f8f8;
    min-height: 45px;
    width:100%;
}

@media (min-width:769px) {
    .run-container .form-group .control-label, .run-container .form-group label {
        padding-top: 7px !important;
    }
}

.run-container button.btn.btn-checked {
    background-color: #b3b3b3 !important;
}

.run-container button.btn:not(.btn-checked):hover { 
    background-color:#d8d8d8 !important;
}

.btn-group {
    width:100%;
}

.run-container .form-group:not(.item-note) .control-label {
    font-weight:bold;
}



/*Allow form-group background to leak to edges of screen*/
.row {
    margin-right: -10px;
    margin-left: -10px;
}

.form-group {
    padding-left: 20px;
    padding-right: 20px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 0px;
    padding-right: 0px;
}

/*Checkboxes in mc_button_multiple*/
.item-mc_multiple_button button.btn {
    padding-left:40px;
}

.item-mc_multiple_button button.btn:before {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px #333 solid;
    border-radius: 2px;
    content: "\00a0";
    position: absolute;
    top: 50%;
    left:12px;
    margin-top: -10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color:white;
}

.item-mc_multiple_button button.btn.btn-checked:before {
  content:"\1F5F8";
  border-color:#009688;
  background-color: #009688;
}

/*Likert grid via checkboxes*/
form.form-horizontal div.form-row.mc-grid-row {
    min-height:60px;
}

form.form-horizontal div.form-row.mc-grid-row div.controls div.mc-table {
    position:relative;
}

form.form-horizontal div.form-row.mc-grid-row div.controls div.btn-group {
    width:100%;
}

form.form-horizontal div.form-row.mc-grid-row div.controls div.mc-table label.radio-inline,
form.form-horizontal div.form-row.mc-grid-row div.controls div.btn-group button {
    width:14.2%;
}




/*Likert grid via buttons*/
.btn-group .btn {
    min-height:20px;
}

div.form-row.form-group:not(.mc_horizontal) .btn-group > .btn:first-child:not(:last-child) {
    border-top-right-radius:0;
}

div.form-row.form-group:not(.mc_horizontal) .btn-group > .btn:last-child:not(:first-child) {
    border-bottom-left-radius:0;   
}

form.form-horizontal div.form-row.mc-grid-row div.controls div.btn-group {
    width:100%;
}

form.form-horizontal div.form-row.mc-grid-row {
    padding-bottom:0px;
    padding-top:16px;
}

form.form-horizontal div.form-row.form-group.mc-grid-row:nth-child(odd) {
    /*background-color:#d5d5d5;*/
    background-color:#eaeaea;
}


div.form-row.form-group .btn-group>.btn-group+.btn,
div.form-row.form-group:not(.mc_horizontal) .btn-group>.btn+.btn,
div.form-row.form-group:not(.mc_horizontal) .btn-group>.btn+.btn-group,
div.form-row.form-group:not(.mc_horizontal) .btn-group>.btn-group+.btn-group {
    margin-top:0;
}

.bs-material div.form-row.mc-grid-row .btn {
    padding:0;
}

div.form-row.mc-grid-row div.controls div.btn-group button:before {
    height:100%;
    line-height:150%;
    font-size:28px;
    text-align:center;
    width:100%;
    display:block;
    content:".";
}

div.form-row.mc-grid-row div.controls div.btn-group button:nth-child(1):before {
content:"\1f621";
}
div.form-row.mc-grid-row div.controls div.btn-group button:nth-child(2):before {
content:"\1F61E";
}
div.form-row.mc-grid-row div.controls div.btn-group button:nth-child(3):before {
content:"\1F641";
}
div.form-row.mc-grid-row div.controls div.btn-group button:nth-child(4):before {
content:"\1f610";
}
div.form-row.mc-grid-row div.controls div.btn-group button:nth-child(5):before {
content:"\1F642";
}
div.form-row.mc-grid-row div.controls div.btn-group button:nth-child(6):before {
content:"\1f60a";
}
div.form-row.mc-grid-row div.controls div.btn-group button:nth-child(7):before {
content:"\1f60d";
}
 



/* Showing label only for the selected option */
form.form-horizontal div.form-row.mc-grid-row div.controls div.mc-table label span.mc-span {
    display:none;
}

form.form-horizontal div.form-row.mc-grid-row div.controls div.btn-group button span.btn_label {
    display:none;
}


form.form-horizontal div.form-row.mc-grid-row div.controls div.mc-table label input[type="radio"]:checked ~ span.mc-span,
form.form-horizontal div.form-row.mc-grid-row div.controls div.btn-group button.btn-checked span.btn_label {
    display: block;
    position: absolute;
    bottom: 110%;
    left: -300%;
    right: -300%;
    text-align: center; 
    font-size:90%;
    font-style:italic;
    pointer-events:none;
    touch-action:none;
}

/*Avoiding label overflow for first and last*/
form.form-horizontal div.form-row.mc-grid-row div.controls div.mc-table label:nth-child(2) input[type="radio"]:checked ~ span.mc-span,
form.form-horizontal div.form-row.mc-grid-row div.controls div.btn-group button.btn-checked:nth-child(1) span.btn_label{
    left: 0;
    text-align:left;
}

form.form-horizontal div.form-row.mc-grid-row div.controls div.mc-table label:nth-child(8) input[type="radio"]:checked ~ span.mc-span,
form.form-horizontal div.form-row.mc-grid-row div.controls div.btn-group button.btn-checked:nth-child(7) span.btn_label{
    right: 0;
    text-align: right;
}


@media (max-width: 400px) {
form.form-horizontal div.form-row.mc-grid-row div.controls div.mc-table label input[type="radio"]:checked ~ span.mc-span {
    left: -500%;
    right: -500%;
}

}

@media (max-width: 768px) {
    /*Move controls above the questions*/
    form.form-horizontal div.form-row.form-group .control-label {
        margin-bottom: 10px;
        text-align: center;
    }


    .form-horizontal .controls {
        margin-left:0;
    }
    
    .run-container .form-horizontal .control-label {
        float:none;
    }
    
    /*Grid-related tweaks*/
    form.form-horizontal div.form-row.form-group.mc-grid-row {
        /*border-bottom: 1px #ccc solid;*/
        padding-bottom: 0;
        padding-top: 10px;
    }
    
    form.form-horizontal div.form-row.mc-grid-row div.controls div.mc-table label.radio-inline,
    form.form-horizontal div.form-row.mc-grid-row div.controls div.btn-group button.btn {
        display:block;
        float:left;
        width:14.2%;
    }

}


/*Grid header text*/
form.form-horizontal div.form-group.form-row.item-note.form-row.mc-grid-header {
    margin-left:330px;
}

div.form-group.mc-grid-row, div.form-group.mc-grid-header {
    margin-top:0;
}

form.form-horizontal div.form-group.form-row.item-note.form-row.mc-grid-header div.control-label {
}

form.form-horizontal div.form-row.mc-grid-header .control-label h3 {
    float:left;
    width:33%;
    font-size:12px;
}

form.form-horizontal div.form-row.mc-grid-header .control-label h3:nth-child(1) {
    text-align:left;
}

form.form-horizontal div.form-row.mc-grid-header .control-label h3:nth-child(2) {
    text-align:center;
}

form.form-horizontal div.form-row.mc-grid-header .control-label h3:nth-child(3) {
    text-align:right;
}