/* Robot font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*Skaut fonts*/

@font-face {
    font-family: 'themix';
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.eot');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.woff') format('woff'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_400.otf') format('opentype'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_400.svg#themix') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'themix';
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.eot');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.woff') format('woff'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_700.otf') format('opentype'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_700.svg#themix') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'skautbold';
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot');
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.woff') format('woff'),
         url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.otf') format('opentype'),
         url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.svg#skautbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, h4, h5, h6, .book.font-family-1, .book .book-header, .book .book-summary {
    font-family: Roboto,themix,Arial,sans-serif;
}

h1, h2, h3 {
    font-family: skautbold,Arial,sans-serif;
}

p {
    text-align: justify;
}


.book .book-header h1 {
  opacity: 1;
}

.book .book-body .page-wrapper .page-inner section.normal h1 {
    font-size: 1.75em;
}


.book .book-summary,
.book .book-body .page-wrapper .page-inner section.normal,
.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span,
.book .book-body .navigation
{
	color:black;
}

.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active > a {
  color:#003ca5;
}

.book .book-body .navigation {
  color: rgb(214,0,171);
  font-size: 50px;
  font-weight: bold;
}

.book .book-body .navigation:hover {
  color:rgb(176,0,150);
}


.book .book-body .navigation:hover {
	font-size: 60px;
}

.book .book-summary ul.summary li.chapter {
	padding-left: 10px;
}

.book .book-summary ul.summary li.chapter li.chapter {
	padding-left: 0px;
}


/*.book .book-summary ul.summary li a:hover::before, .book .book-summary ul.summary li.active > a::before {*/
.book .book-summary ul.summary li.active::before {
	display: block;
	width: 15px;
	height: 3px;
	content: " ";
	background-color: #003ca5;
	position: absolute;
	margin-left: -10px;
	margin-top: 1.2em;
}

.book .book-summary ul.summary li li.active::before {
	margin-left: -30px;
}

.book .book-summary ul.summary li li li.active::before {
	margin-left: -50px;
}


.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active > a {
	font-weight:bold;
}

.book .book-summary {
	background-color: rgb(242, 223, 240);
}

.book .book-summary ul.summary li span {
	opacity:1;
	filter: none;
}


.book .book-header .btn {
	color:black;
}

.book .book-body .page-wrapper .page-inner section.normal a {
	/*color:  rgb(29,128,90);*/
	color: rgb(214,0,171);
	font-weight: 600;
}


.book .book-body .page-wrapper .page-inner section.normal p.author, .book .book-body .page-wrapper .page-inner section.normal p.date{
	color:  rgb(29,128,90);
	text-align: center;
	margin-bottom: 0;
	font-size:90%;
}

.book .book-body .page-wrapper .page-inner section.normal p.author em, .book .book-body .page-wrapper .page-inner section.normal p.date em{
	font-style: normal;
}


/* Kratka verze */
.book .book-body .page-wrapper .page-inner section.normal .kz_heading h4 {
  color:  rgb(29,128,90);
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  cursor: pointer;
}


.book .book-body .page-wrapper .page-inner section.normal .kz_heading .kz_hidden {
/*  max-height: 0;
  overflow:hidden;
  */
  display:none;
}


.book .book-body .page-wrapper .page-inner section.normal .kz_heading h4 a,
.book .book-body .page-wrapper .page-inner section.normal .kz_group a,
.book .book-body .page-wrapper .page-inner section.normal .kz_intro a{
  color:  rgb(29,128,90);
}

.kz_heading h4::before, .rozbalit_vse::before {
  content: "\2013";
  padding-right: 0.4em;
}

div.collapsed.kz_heading h4::before, .rozbalit_vse.collapsed::before {
  content: "+";
}

.book .book-body .page-wrapper .page-inner section.normal .kz_group h2,
.book .book-body .page-wrapper .page-inner section.normal .kz_intro h2{
  margin-bottom: 0;
}

.book .book-body .page-wrapper .page-inner section.normal .kz_subtitle {
  margin-top: 0;
  font-size: 1em;
  font-family: skautbold;
  margin-bottom: 0.85em;
  padding-left:4em;
}

.kz_subtitle::before {
  content: "| ";
}

.book .book-body .page-wrapper .page-inner section.normal .kz_group p {
  margin-bottom: 0;
}

.book .book-body .page-wrapper .page-inner section.normal .kz_intro .kz_heading p,
.book .book-body .page-wrapper .page-inner section.normal .kz_group .kz_heading p {
  margin-bottom: .85em;
}

.rozbalit_vse {
  color:  rgb(29,128,90);
  cursor: pointer;
  text-align: right;
  display: block;
  font-size: 1.4rem;
}

.rozbalit_vse.hidden {
  display:none;
}

.summary .part:first-child, .book .book-summary .book-search {
	background-color:rgb(179,221,211);
}

.book .book-summary .book-search input, .book .book-summary .book-search input:focus, .book .book-summary .book-search input:hover {
  border: 1px solid black;
  background-color: #fafafa;
}

.summary .chapter[data-level="1"], .summary .chapter[data-level="2"] {
	background-color:rgb(179,221,211);
}

/* Force navigation always on bottom*/
.book .book-body .navigation{
	position:static;top:auto;max-width:49%;width:49%;display:inline-block;float:left;
	padding-top: 60px;
	line-height:70px;
}

.book .book-body .navigation .fa{
	font-weight:bolder;
}

.book .book-body .navigation.navigation-next {
	text-align:left;
	padding-left: 50px;
}

.book .book-body .navigation.navigation-prev {
	text-align:right;
	padding-right: 50px;
}


.book .book-body .navigation.navigation-unique{
	max-width:100%;
	width:100%;
	padding-top: 60px;
	text-align:center;
}

.book .book-body .page-wrapper .page-inner {
	padding-bottom:0;
}


/* Title */

.book .book-body .page-wrapper .page-inner section.normal h1.title {
	/*font-size: 40pt;*/
	text-align:center;
	margin-bottom: 0.1em;
	font-size: 2.2em;
	color:  rgb(29,128,90);
	line-height: 120%;
}

#header i.fa-arrow-down  {
  margin-top:0.5em;
  font-size:3rem;
  color: rgb(29,128,90);
  display:block;
  text-align:center;
}


.our-title-wrap {
  display:none;
  background-image: url('title.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align:center;
  padding-top: 6em;
  padding-bottom: 6.5em;
}


.our-title-wrap i.fa{
  font-size: 1.4rem;
}

.book .book-body .page-wrapper .our-title-wrap
 .page-inner section.normal .opening-quote {
  font-family: skautbold,Arial,sans-serif;
  font-size: 1.5em;
  color:  rgb(10,12,97);
  text-align:center;
  line-height: 120%;
}

.book .book-body .page-wrapper .our-title-wrap .page-inner {
	padding-top:0;
}

.book .book-body .page-wrapper .our-title-wrap .page-inner section.normal p {
  text-align:center;
  color:  rgb(10,12,97);
}

.book .book-body .page-wrapper .our-title-wrap .page-inner,  .book .book-body .page-wrapper .our-title-wrap .page-inner section.normal {
	background:none;
}

.our-title-wrap .symbol {
	width: 6em;
	padding-top: 3em;
	padding-bottom: 3em;
}

#header a.hlavni-odkaz:hover {
  text-decoration: none;
}

.our-title-wrap .help {
	line-height: 120%;
	font-size: 0.9em;
}

@media (max-width:1000px) {
  .our-title-wrap {
    background-image: url('title_narrow.jpg');
  }

}

@media (min-width:2000px) {
.our-title-wrap {
  padding-top: 10em;
  padding-bottom: 11em;
}

}
